
fish/.config/fish/fish_variables
nvim/.config/nvim/lua/packer_compiled.lua
nvim/.config/nvim/lua/packer_compiled.lua~Stashed changes
tmux/.tmux/resurrect/


yabai/.config/yabai
vifm/.config/vifm/vifminfo.json